.calva/output-window
.clj-kondo/.cache
.cpcache/
.DS_store
.idea
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.lsp/.cache
.nrepl-port
*.class
*.iml
*.jar
/checkouts/
/classes/
/lib/
/target/
pom.xml
pom.xml.asc
